* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.6rem;
}

header, main {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  overflow-x: scroll;
}

header nav a {
  color: blue;
  word-break: none;
}

.hero {
  background: linear-gradient(to bottom, #cccc, white);
  border: 1px solid black;
  padding: 1.5em;
  border-radius: 5px;
}

.hero h2 {
  margin-bottom: 0.7em;
}

.text {
  margin-top: 2em;
}

ul {
  margin-left: 2em;
}

li {
  margin-top: 1em;
}
